@model IEnumerable<sp19team9finalproject.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positions)
            </th>
            @*<th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        @*<th> TO-DO: show all interview dates for that company
        @Html.DisplayNameFor(model => model.Interview.Date)
        </th>*@
=======
                @Html.DisplayNameFor(model => model.Position.Title)
            </th>
            @*<th> TO-DO: show all interview dates for that company 
            @Html.DisplayNameFor(model => model.Interview.Date)
            </th>*@
>>>>>>> aeeb06f9397fb43e3a83d782f46e20539b2b0220
            <th></th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD
        @foreach (var item in Model)
        {
=======
@foreach (var item in Model) {
>>>>>>> aeeb06f9397fb43e3a83d782f46e20539b2b0220
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Industry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
<<<<<<< HEAD
            <td>
                @foreach (Position md in item.Positions)
                {
                    @Html.DisplayFor(modelItem => md.PositionType)
                }
            </td>
            @*<td> //positions has to be a list in company details
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>
        @*<td> TO-DO: show all interview dates for that company
        @Html.DisplayFor(modelItem => item.Interview.DateTime)
        </td>*@
=======
            @*<td> //positions has to be a list in company details 
                @Html.DisplayFor(modelItem => item.Position.Title)
            </td>
            @*<td> TO-DO: show all interview dates for that company
            @Html.DisplayFor(modelItem => item.Interview.DateTime)
            </td>*@
>>>>>>> aeeb06f9397fb43e3a83d782f46e20539b2b0220
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyID">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CompanyID">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CompanyID">Delete</a>
            </td>
        </tr>
<<<<<<< HEAD
        }
=======
}
>>>>>>> aeeb06f9397fb43e3a83d782f46e20539b2b0220
    </tbody>
</table>
