@model sp19team9finalproject.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PositionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PositionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MajorDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MajorDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PositionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Student"))
        {
            <a asp-action="Create" asp-controller="Application" asp-route-orderId="@Model.PositionID" class="btn btn-warning">Apply for position</a>
        }
        if (User.IsInRole("Recruiter"))
        {
            <a asp-action="AcceptStudents" asp-controller="Application" asp-route-positionId="@Model.PositionID" class="btn btn-warning">
                Accept students applications for this position
            </a>
        }
    }

</div>
